/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url("cover-image.png");
   /* Шрифты */
    --font-main: 'IBM Plex Mono', monospace;
    --font-size-base: 18px;
    --line-height-base: 1.3;
    
    /* Размеры */
    --page-max-width: 1024px;
    --section-gap: 80px;
    --content-padding: 20px;
}
.white-theme {
  --bg-image: url("cover-image-light.png");
}
